<template>
  <div class="about">
    <div class="row">
      <div class="col">
        <Card card-title="How TDEE Is Calculated">
          <p class="card-text">
            Your Total Daily Energy Expenditure (TDEE) is an estimation of how
            many calories you burn per day when exercise is taken into account. It is calculated
            by first figuring out your Basal Metabolic Rate, then multiplying that value by an
            activity multiplier.
          </p>
          <p class="card-text">
            Since your BMR represents how many calories your body burns when at rest, it is
            necessary to adjust the numbers upwards to account for the calories you burn during
            the day. This is true even for those with a sedentary lifestyle. Our TDEE calculator
            uses the best formulas and displays your score in a way that's easy to read and
            meaningful.
          </p>
        </Card>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '../components/Card.vue';

export default {
  name: 'about',
  components: {
    Card,
  },
};
</script>
