<template>
  <div class="home">
    <div class="row">
      <div class="col">
        <Card
          card-title="Learn How Many Calories You Burn Every Day"
          type="primary"
          align="center">
          <template>
            <p>
              <b>Use the TDEE calculator to learn your <i>Total Daily Energy Expenditure</i></b>, a
              measure of how many calories you burn per day. This calculator will also display your
              BMI, BMR, Macros & many other useful statistics!
            </p>
          </template>
        </Card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <Card card-header="Input your stats">
          <template>
            <Form :inputs="inputs" action="submit" @submit="submitData"></Form>
          </template>
        </Card>
      </div>
      <div class="col-md-6 col-lg-7">
        <Card card-title="How TDEE Is Calculated">
          <p class="card-text">
            Your Total Daily Energy Expenditure (TDEE) is an estimation of how
            many calories you burn per day when exercise is taken into account. It is calculated
            by first figuring out your Basal Metabolic Rate, then multiplying that value by an
            activity multiplier.
          </p>
          <p class="card-text">
            Since your BMR represents how many calories your body burns when at rest, it is
            necessary to adjust the numbers upwards to account for the calories you burn during
            the day. This is true even for those with a sedentary lifestyle. Our TDEE calculator
            uses the best formulas and displays your score in a way that's easy to read and
            meaningful.
          </p>
        </Card>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from '../components/Card.vue';
import Form from '../components/Form.vue';

export default {
  name: 'home',
  components: {
    Form,
    Card,
  },
  data() {
    return {
      inputs: [
        {
          label: 'Gender',
          type: 'radio',
          name: 'gender',
          rules: 'required',
          error: null,
          radios: [
            {
              value: '1',
              label: 'Male',
              color: 'primary',
            },
            {
              value: '0',
              label: 'Female',
              color: 'primary',
            },
          ],
        },
        {
          label: 'Age', type: 'number', placeholder: '', name: 'age', rules: 'required|numeric|between:3,90', error: null,
        },
        {
          label: 'Weight', type: 'number', placeholder: 'kg', name: 'weight', rules: 'required|numeric', error: null,
        },
        {
          label: 'Height', type: 'number', placeholder: 'cm', name: 'height', rules: 'required|numeric|between:152,251', error: null,
        },
        {
          label: 'Activity',
          type: 'select',
          name: 'activity',
          rules: 'required',
          error: null,
          options: [
            { value: 1, text: 'Sedentary (office job)' },
            { value: 2, text: 'Light Exercise (1-2 days/week)' },
            { value: 3, text: 'Moderate Exercise (3-5 days/week)' },
            { value: 4, text: 'Heavy Exercise (6-7 days/week)' },
            { value: 5, text: 'Athlete (2x per day)' },
          ],
        },
        {
          label: 'Body Fat % (optional)', type: 'number', placeholder: '%', name: 'bodyFat', rules: 'between:3, 100', error: null,
        },
      ],
    };
  },
  methods: {
    submitData(data) {
      this.$store.commit('changeStats', data);
      this.$router.push({ path: 'results' });
    },
  },
};
</script>
