<template>
  <div class="root">
    <div class="row justify-content-center" v-if="!stats.age">
      <div class="spinner-border text-primary mt-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div v-else>
      <div class="row">
        <div class="col">
          <Card type="primary">
            <h3>YOUR STATS</h3>
            <span>
            You're a <i>{{ stats.age }}</i> y/o <i>{{ stats.gender == 1 ? 'Male' : 'Female' }}</i>
            who is <i>{{ stats.height }}</i> cm tall and weights <i>{{ stats.weight }}</i> kg with
            <i>{{ this.activityLabels[stats.activity]}}...</i>
          </span>
          </Card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-lg-4">
          <Card card-header="Your Maintenance Calories" align="center">
            <template>
              <ul class="list-group">
                <li class="list-group-item active">
                  <div class="">
                    <h1 class="mb-1">{{ metabolicRate }}</h1>
                    <small><i>calories per day</i></small>
                  </div>
                </li>
                <li class="list-group-item border-primary">
                  <div class="">
                    <h1 class="mb-1">{{ metabolicRate * 7 }}</h1>
                    <small><i>calories per week</i></small>
                  </div>
                </li>
              </ul>
            </template>
          </Card>
        </div>
        <div class="col-md-7 col-lg-8">
          <Card>
            <p>Based on your stats, the best estimate for your maintenance calories is
              <b>{{ metabolicRate }}</b> calories per day based on the
              <i>Mifflin-St Jeor Formula</i>, which is widely known to be the most accurate.
              The table below shows the difference if you were to have selected a different
              activity level.</p>

            <table class="table table-sm">
              <tr
                v-for="(value, name, index) in allMR"
                :key="index"
                :class="index === stats.activity ? 'table-primary' : ''">
                <td>{{ name }}</td>
                <td>{{ value }}</td>
              </tr>
            </table>
          </Card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <Card :card-title="`Ideal Weight: ${weight.min} - ${weight.max} kg`">
            <p>Your ideal body weight is <u>estimated</u> to be between
              {{ weight.min }}-{{ weight.max }} kg based on the various formulas listed below. These
              formulas are based on your height and represent averages so don't take them
              <i>too seriously</i>, <b>especially if you lift weights.</b></p>

            <table class="table table-sm">
              <tr v-for="(value, name, index) in this.idealWeight" :key="index">
                <td>{{ name }}</td>
                <td>{{ value }}</td>
              </tr>
            </table>
          </Card>
        </div>
        <div class="col-md-6">
          <Card :card-title="`BMI Score: ${this.bmi.value}`">
            <p>Your <b>BMI</b> is <b>{{ bmi.value }}</b>, which means you are classified
              as <b>{{ bmi.label }}</b>…</p>

            <p>Body mass index (BMI) is a value derived from
              the mass (weight) and height of a person.</p>

            <table class="table table-sm">
              <tr
                v-for="(element, index) of bmiTable"
                :key="index"
                :class=
                  "(bmi.value >= element.min && bmi.value < element.max) ? 'table-primary' : ''"
              >
                <td>{{ element.label }}</td>
                <td>{{ element.value }}</td>
              </tr>
            </table>
          </Card>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <Card card-title="Maximum Muscular Potential">
            <p>How ripped could you get? According to Martin Berkhan's formula, your maximum
              muscular potential is <b>{{ muscularPotential[5] }} kg</b> at 5% body fat.
              Most people have no desire to be 5% body fat though, so
              you'd be <b>{{ muscularPotential[10]}} kg</b> at 10% body fat
              & <b>{{ muscularPotential[15 ]}} kg</b> at 15% body fat. These numbers are
              good goals to aim for if you are bulking up!</p>
          </Card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Calculator from '../Calculator';
import Card from '../components/Card.vue';

export default {
  name: 'results',
  components: {
    Card,
  },
  data() {
    return {
      stats: this.$store.state.stats,
      bmr: 0,
      bmi: 0,
      activityBmr: [],
      idealWeight: {},
      bmiTable: [
        {
          label: '18.5 or less', value: 'Underweight', min: 0, max: 18.5,
        },
        {
          label: '18.5 – 24.99', value: 'Normal weight', min: 18.5, max: 25,
        },
        {
          label: '25 – 29.99', value: 'Overweight', min: 25, max: 30,
        },
        {
          label: '30 or more', value: 'Obese', min: 30, max: 100,
        },
      ],
      activityLabels: [
        'Basal Metabolic Rate',
        'Sedentary',
        'Light Exercise',
        'Moderate Exercise',
        'Heavy Exercise',
        'Athlete',
      ],
    };
  },
  created() {
    const calculator = new Calculator(this.stats);

    this.bmr = calculator.bmr();
    this.bmi = calculator.bmi();
    this.activityBmr = calculator.activityBmr();
    this.idealWeight = calculator.idealWeight();
  },
  computed: {
    metabolicRate() {
      return this.activityBmr[this.stats.activity - 1];
    },

    allMR() {
      const obj = {};
      const allMrs = [this.bmr, ...this.activityBmr];

      for (let i = 0; i < allMrs.length; i += 1) obj[this.activityLabels[i]] = allMrs[i];

      return obj;
    },

    weight() {
      const weights = [];

      Object.keys(this.idealWeight).forEach((key) => {
        weights.push(this.idealWeight[key]);
      });

      return {
        min: Math.min(...weights),
        max: Math.max(...weights),
      };
    },

    muscularPotential() {
      const ripped = this.stats.height - 100;

      return {
        5: ripped,
        10: ripped + Math.round(ripped / 100 * 5),
        15: ripped + Math.round(ripped / 100 * 10),
      };
    },
  },
};
</script>
