<template>
  <div :class="['row', `text-${align}`]">
    <div class="col">
      <button :class="['btn', `btn-${type}`, btnSize]" @click="onClick" type="button">
        <slot></slot>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    type: {
      type: String,
      default: 'primary',
    },
    align: {
      type: String,
      default: 'left',
    },
    size: String,
  },
  computed: {
    btnSize() {
      return this.size ? `btn-${this.size}` : '';
    },
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>
