<template>
  <div class="card mb-3" :class="[{'text-white': isWhite}, cardType, textAlign]">
    <div class="card-header" v-if="cardHeader">{{ cardHeader }}</div>
    <div class="card-body">
      <h5 v-if="cardTitle" class="card-title">{{ cardTitle }}</h5>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    cardTitle: String,
    cardHeader: String,
    type: String,
    align: String,
  },
  computed: {
    isWhite() {
      if (this.type) return this.type !== 'light';
      return false;
    },
    cardType() {
      if (this.type) return `bg-${this.type}`;
      return '';
    },
    textAlign() {
      if (this.align) return `text-${this.align}`;
      return 'text-left';
    },
  },
};
</script>
