<template>
  <form>
      <InputGroup
        v-for="(input, index) of inputs"
        :key="index"
        :input="input"
        :rules="input.rules"
      >
      </InputGroup>

      <Button
        type="primary"
        align="center"
        size="lg"
        @click="onBtnClick"
      >
        Calculate!
      </Button>
  </form>
</template>

<script>
import { Validator } from 'vee-validate';
import InputGroup from './InputGroup.vue';
import Button from './Button.vue';

const validator = new Validator();

export default {
  name: 'Form',
  components: {
    InputGroup,
    Button,
  },
  data() {
    return {
      hasError: false,
    };
  },
  props: {
    inputs: Array,
    action: String,
  },
  methods: {
    validate(input) {
      return validator.verify(input.value, input.rules, { name: `"${input.label}"` });
    },

    async onBtnClick() {
      this.hasError = false;
      // eslint-disable-next-line no-restricted-syntax
      for (const input of this.inputs) {
        // eslint-disable-next-line no-await-in-loop
        const { valid, errors } = await this.validate(input);

        if (valid) {
          // eslint-disable-next-line no-param-reassign
          input.error = null;
        } else {
          // eslint-disable-next-line no-param-reassign
          [input.error] = errors;
          this.hasError = true;
        }
      }

      if (!this.hasError) {
        const payload = {};

        this.inputs.forEach((input) => {
          payload[input.name] = input.value;
        });

        this.$emit(this.action, payload);
      }
    },
  },
};
</script>
