<template>
  <div class="root">
    <div v-if="input.type !== 'radio'" class="form-group row">
      <label class="col-sm-4" :for="input.name">{{ input.label }}</label>
      <input
        v-if="input.type !== 'select'"
        v-model="input.value"
        :name="input.name"
        :type="input.type"
        :class="['form-control', 'col-sm-7 mr-2 ml-2', input.error ? 'is-invalid' : '']"
        :placeholder="input.placeholder"
        autocomplete="off"
        @input="validateInput()"
      >

      <select
        v-if="input.type === 'select'"
        v-model="input.value"
        class="form-control col-sm-7 mr-2 ml-2"
        :name="input.name"
        @change="validateInput()"
      >
        <option disabled selected>Choose...</option>
        <option
          v-for="(option, index) of input.options"
          :key="index"
          :value="option.value">
          {{ option.text }}
        </option>
      </select>

      <small v-if="input.error" class="form-text text-danger col-sm-8 offset-sm-4">
        {{ input.error }}
      </small>
    </div>

    <div v-if="input.type === 'radio'" class="form-group row">
      <legend class="col-form-label col-sm-4 pt-0">{{ input.label }}</legend>

      <div class="col-sm-7 btn-group btn-group-toggle pl-0 pr-0 mr-2 ml-2">
        <label
          class="btn"
          v-for="(radio, index) of input.radios"
          :key="index"
          :class="[
            {active: radiosState[index]},
            radio.color ? `btn-outline-${radio.color}` : 'btn-outline-secondary'
          ]"
        >
          <input
            v-model="input.value"
            :type="input.type"
            class="form-check-input"
            :value="radio.value"
            :name="input.name"
            @click="changeState(index)"
            @change="validateInput()"
          >
          {{ radio.label }}
        </label>
      </div>

      <small v-if="input.error" class="form-text text-danger col-sm-8 offset-sm-4">
        {{ input.error }}
      </small>
    </div>
  </div>
</template>

<script>
import { Validator } from 'vee-validate';

const validator = new Validator();

export default {
  name: 'InputGroup',
  props: {
    input: Object,
    rules: String,
  },
  data() {
    return {
      radiosState: [],
    };
  },
  methods: {
    changeState(index) {
      const lastSelected = this.radiosState.indexOf(true);

      if (lastSelected !== -1) this.radiosState.splice(lastSelected, 1, false);
      this.radiosState.splice(index, 1, !this.radiosState[index]);
    },
    validate(value) {
      return validator.verify(value, this.rules, { name: `"${this.input.label}"` });
    },
    async validateInput() {
      const { valid, errors } = await this.validate(this.input.value);

      if (valid) {
        // eslint-disable-next-line no-param-reassign
        this.input.error = null;
      } else {
        // eslint-disable-next-line no-param-reassign
        [this.input.error] = errors;
      }
    },
  },
  created() {
    if (this.input.type === 'radio') this.radiosState = new Array(this.input.radios.length).fill(false);
  },
};
</script>

<style lang="scss">
  .is-invalid {
    background-image: none !important;
    padding-right: .75rem !important;
  }
</style>
