<template>
  <nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" v-html="brandName"></a>

    <ul class="nav">
      <li v-for="(link, index) in links" :key="index" class="nav-item">
        <router-link class="nav-link" :to="link.path">{{ link.text }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Nav',
  props: {
    brandName: String,
    links: Array,
  },
};
</script>
