<template>
  <div id="app">
    <Nav :links="links" :brand-name="brandName"></Nav>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Nav from './components/Nav.vue';

export default {
  name: 'app',
  components: {
    Nav,
  },
  data() {
    return {
      links: [
        { path: '/', text: 'Home' },
        { path: '/about', text: 'About' },
      ],
      brandName: 'TDEE <b>Calculator</b>',
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
